<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.avalinejad.iq">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8616739363688136~4130606453"/>
        <activity android:name="co.avalinejad.iq.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="co.avalinejad.iq.activity.NewSpeedMeter">

        </activity>
        <activity android:name="co.avalinejad.iq.activity.HeadUpActivity" />
        <activity android:name="co.avalinejad.iq.activity.SpeedMeterIntroActivity" />
        <activity android:name="co.avalinejad.iq.activity.SplashActivity1" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications" />

        <activity android:name="co.avalinejad.iq.activity.LawsActivity" />
        <activity android:name="co.avalinejad.iq.activity.InnerPageActivity" />
        <activity android:name="co.avalinejad.iq.activity.IntroActivity" />
        <activity android:name="co.avalinejad.iq.activity.MainActivity" />
        <activity
            android:name="co.avalinejad.iq.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name="co.avalinejad.iq.activity.SpeedMeterActivity"/>
    </application>

</manifest>